doctype html
html
	head
		title= pageTitle
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="style/css/challenge.css")
		script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(type="text/javascript", src="//cdn.rawgit.com/carhartl/jquery-cookie/master/src/jquery.cookie.js")

	body
		.container(id="credits")
			if (user)
				div(class="text-center")
					p Welcome #{JSON.stringify(user)}
					p
						a(href="logout",class="btn btn-default") Sign-out
				script(type="text/javascript")
					| window.opener.location = "http://test4theory.cern.ch/vlhc/#user="+btoa(JSON.stringify(!{JSON.stringify(user)}));
			else
				p Log-in with one of your prefered social account and start collecting credits! The first 50 users with the biggest credit will participate on the preliminary beta of the upcoming <em>Virtual Atom Smasher</em> game!
				.row
					.col-xs-6
						.banner
							.banner-image
							.banner-leaves
					.col-xs-6
						p
							a(href="auth/facebook",class="btn btn-block btn-primary")
								img(class="pull-left" src="style/img/icons/social-fb.png")
								| Log-in with Facebook
						p
							a(href="auth/google",class="btn btn-block btn-danger")
								img(class="pull-left" src="style/img/icons/social-g.png")
								| Log-in with Google+
						p
							a(href="auth/twitter",class="btn btn-block btn-info")
								img(class="pull-left" src="style/img/icons/social-twitter.png")
								| Log-in with Twitter
						p
							a(href="auth/boinc",class="btn btn-block btn-success")
								img(class="pull-left" src="style/img/icons/social-boinc.png")
								| Log-in with BOINC
				script(type="text/javascript")
					| window.opener.location = "http://test4theory.cern.ch/vlhc/#user=none";
