extends base-doc

block doc-title
	| This is a test document

block doc-content
	h1 Hello world
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit luctus sem a volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras rutrum convallis ante, sit amet tempus neque eleifend quis. Duis nec dapibus magna. Cras sed finibus arcu. Maecenas laoreet mollis erat, vitae malesuada metus maximus vitae. Quisque dapibus, sem ut euismod interdum, lacus risus rhoncus nulla, at fermentum nunc eros vel nisi. Nullam in maximus erat, eu vestibulum massa. Fusce lectus velit, molestie sed condimentum sit amet, ultricies non augue. Integer semper, justo non ullamcorper aliquet, elit leo gravida felis, eget maximus nunc nisl et lectus. Mauris imperdiet, nibh et pulvinar volutpat, ipsum metus congue sem, sollicitudin sagittis nulla enim eget leo. Integer auctor, orci a tempus consequat, sapien augue consequat leo, in suscipit risus magna et magna. Pellentesque luctus ex vitae odio facilisis maximus. Etiam vestibulum tortor nunc, sit amet hendrerit sapien maximus sed. Aenean mollis metus urna, at tempor dolor rhoncus ut.
	p Vivamus molestie malesuada faucibus. Pellentesque sit amet molestie dolor, nec rhoncus ante. Cras a enim ac dolor egestas faucibus non sit amet purus. Suspendisse dignissim mi sed cursus varius. Curabitur vel tellus sit amet mi feugiat fermentum in ut sem. Nam consectetur arcu convallis, feugiat erat in, vestibulum libero. Sed molestie porta pulvinar. Curabitur gravida blandit elementum. Fusce malesuada venenatis ex, ac sodales eros lacinia vehicula. Sed congue risus eu finibus ultrices. Integer imperdiet sapien in magna viverra tempus. Mauris cursus augue orci, at iaculis augue rhoncus id. Aliquam luctus felis eget finibus pellentesque. Etiam metus lorem, tempor et luctus eu, tincidunt sed metus.
