extends base-doc

block content
  section#document.home-section.color-dark.bg-white
    .container.marginbot-20
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading.text-center
            h2.h-bold
              | This is a test document
            .divider-header
    .container
      .row
        .col-lg-8.col-lg-offset-2
          h1
            | T4T-WebAPI test instructions and hints
          p
            | The current prototype supports the following platforms:
          ul
            li
              strong MacOSX:
              | 10.8 and later
            li
              strong Windows:
              | XP SP3+ including Win7 and Win8
            li
              strong Linux:
              | Ubuntu 13.0+ (Debian) and SLC6 (Red Hat)
          p
            | Browsers supported are:
          ul
            li
              | Internet Explorer 10+
            li
              | Firefox 11+
            li
              | Chrome 14+
            li
              | Safari 6+
            li
              | Opera 12.1+
            li
              | SeaMonkey 2.10.1+
          p
          h2
            | Test Sequence
          ol
            li
              | Point your browser to the URL  http://test4theory.cern.ch/vlhc
            li
              | First you will be guided through the installation of a small app ("cernvm-webapi", currently version 2.0.10) (see *** NOTES below).
            li
              | Next you will be helped to install VirtualBox plus its Extension Pack (if you don't already have them) - this may take several minutes to download.
            li
              | Next you will be asked to allow starting a VM: click OK for this. Then you should be able to create and start your virtual accelerator using the button "Start".
          p
            em
              strong NOTE:
              | The very first time, your new VM has to be downloaded and installed - this takes several minutes so be patient! This image is kept permanently so this only happens once.
          p
            | When the VM is running, you get jobs from CERN, and your Web page shows you information on each job's type, progress, event rate, etc. Each job contains 100,000 events and needs some tens of minutes to complete. Several job types appear, some taking longer than others. If you leave the VM running, you will continually process jobs. If this is sufficient for you, just ENJOY! You are contributing to real physics research at CERN.
          p
            | You can stop and save your VM with the same button ("Stop").
          p
            | Note that just leaving or closing the web page does not by itself stop the VM, which will happily go on running jobs if it is not stopped !!!
          h3
            | For existing BOINC Test4Theory users
          p
            | We support a BOINC login feature so that the jobs you complete with T4T_WebAPI contribute to your T4T account's MCPlots stats, Billionaires Club data and so on.
          p
            | In all cases of errors or strange behaviour, REFRESH THE WebAPI BROWSER WINDOW to recover
          p
          h2
            | For advanced users
          p
            | For more information and control of your VM, press the Toolbox button (small gearwheel) next to "Start/Stop" to see the Status panel:
          ul
            li
              | under "Subsystem status" you can see the system components during startup passing from grey to green (or red for errors).
            li
              | under "Virtual Machine Configuration" you can see and modify the items:
          p
            | Allocated RAM (MB), the Number of CPUs, and the Allocated CPU power (the execution cap of each CPU).
          p
            | After any modification(s), press the "Apply" button to make the change(s).
          p
            em
              strong NOTE:
              | Changing the Allocated RAM or Number of CPUs will cause a VM reboot when "Apply" is activated.
          p
          p
            | At the left of the "Apply" button are three other buttons:
          p
            | the "Destroy" button (a trashcan) which will destroy your VM (it warns you first);
          p
            | NOTE: You can restart from a "Destroyed" state using "Start". The initial CernVM image is cached so doesn't need to be downloaded again, even after "Destroy".
          p
          p
            | the "Open screen" button (an eye): this shows your VM consoles. The important ones are:
          p
          p
            | "Console 1": the boot sequence plus job scheduler; "Console 2": the job output; "Console 5": the Unix "top" command.
          p
          p
            | NOTE: You need FLASH for "Open screen" to work.
          p
          p
            | - the "Open Application Website" button (an arrow) will show the T4T Web output and logs of the VM.
          p
          p
            | At any time you are able to open the VirtualBox Manager window and check on the state of your VM instance which is called "VirtualLHC_Challenge". You can make changes to this VM with the VirtualBox Manager interface and these will be reflected in the WebAPI browser window (perhaps after refreshing it). You can also point additional Web browser tabs or windows to the URL http://test4theory.cern.ch/vlhc and they will show the same output from your VM.
          p
          p
          p
            | In all cases of errors or strange behaviour, REFRESH THE WebAPI BROWSER WINDOW to recover
          p
          p
          p
            | *** NOTES ON INSTALLATION OF THE CernVM-WebAPI APP CURRENTLY:
          p
          p
            | As the CernVM-WebAPI app isn't yet registered with an authority, it may currently need a few extra clicks to install, e.g. on MacOSX you may have to view the downloaded install icon in the Finder Download window and then right-click on it to open it. This will not be needed after registration of the software.
          p
          p
            | To uninstall the CernVM-WebAPI app, follow the following procedures for the respective platforms:
          p
          p
            | - Windows : There is an uninstall link on the start menu
          p
            | - Linux (Debian) :  sudo apt-get remove cernvm-webapi
          p
            | - Linux (Red Hat) : sudo yum remove cernvm-webapi
          p
            | - Mac OSX :  run this first (in a terminal):   launchctl unload ~/Library/LaunchAgents/cern.cernvm.webapi.service.plist
          p
            | ...and then you can drag the CernVM WebAPI from the applications to the trash can.
          p
          p
          p
          p
