extends layout

block content

	div.col-lg-6.col-lg-offset-4
		a(href="/auth/facebook", style="text-decoration:none")
			img(src="/icons/facebook.ico")
			span(style="font-size:23px")     Login using Facebook
	div.col-lg-6.col-lg-offset-4
		a(href="/auth/google", style="text-decoration:none")
			img(src="/icons/google.ico")
			span(style="font-size:23px")     Login using Google
	div.col-lg-6.col-lg-offset-4
		a(href="/auth/twitter", style="text-decoration:none")
			img(src="/icons/twitter.ico")
			span(style="font-size:23px")     Login using Twitter

	
	//- div.col-lg-6.col-lg-offset-4
	//- 	a(href="/auth/cern", style="text-decoration:none")
	//- 		img(src="/icons/CERN.gif", width="128px")
	//- 		span(style="font-size:23px")     Login using CERN
