// Authors : S.P. Mohanty<sp.mohanty@cern.ch> , Ioannis Charampidis<Ioannis.Charalampidis@cern.ch>
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
    title CERN 60 Public Computing Challenge
    // css
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="css/nivo-lightbox.css", rel="stylesheet")
    link(href="css/nivo-lightbox-theme/default/default.css", rel="stylesheet", type="text/css")
    link(href="css/animations.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    link(href="color/default.css", rel="stylesheet")
  body#page-top(data-spy="scroll", data-target=".navbar-custom")
    section#intro.hero
      .container
        .row
          .col-md-12.text-right.navicon
            a#nav-toggle.nav_slide_button(href="#")
              span
        .row
          .col-md-8.col-md-offset-2.text-center.inner
            .animatedParent.c-glow-black
              h1.animated.fadeInDown CERN 60
              p.animated.fadeInUp Public Computing Challenge
        .row
          .col-md-6.col-md-offset-3.text-center
            a.start-computing-btn.btn-scroll(href="#join") Join Now 
            a.learn-more-btn.btn-scroll(href="#about", style="margin-left:10px") Learn more

    // Navigation
    #navigation
      nav.navbar.navbar-custom(role="navigation")
        .container
          .row
            .col-md-2
              .site-logo
                a.brand(href="#")
                  img(src="img/logo.png", height="50px")
            .col-md-10
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#menu")
                  i.fa.fa-bars
              // Collect the nav links, forms, and other content for toggling
              #menu.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li.active
                    a(href="#intro") Home
                  li
                    a(href="#about") About
                  li
                    a(href="#join") Join
                  li
                    a(href="#timeline") Timeline
                  li
                    a(href="#status") Status
                  li
                    a(href="#more") More                     
                  li
                    a(href="#contact") Contact Us 

              // /.Navbar-collapse
        // /.container
    // /Navigation

    // Section: about
    section#about.home-section.color-dark.bg-white
      .container.marginbot-50
        .row
          .col-lg-8.col-lg-offset-2
            .animatedParent
              .section-heading.text-center.animated.bounceInDown
                h2.h-bold About the Challenge
                .divider-header
      .container
        .row
          .col-lg-8.col-lg-offset-2.animatedParent
            .text-center
              p
                h5
                  font(color="#00BFFF")
                    | Fifteen days
              p
                | The CERN 60 Public Computing Challenge is a 15-day event, where we invite volunteers around the world to help us compute simulations of particle collisions in the Large Hadron Collider (LHC) and other particle accelerators that have been active around the world during the 60 years of CERN's history. 
              p
                h5
                  font(color="#00BFFF")
                    | testing technology
              p 
                | The challenge will allow us to do two things: one is to create a large database of results for a new science learning game which is due to be launched in 2015, as part of the #[a(href="http://citizencyberlab.eu/", target="_blank") Citizen Cyberlab] project. The other is to test a new browser-based approach to volunteer computing, which will be used in the game.
              p
                h5
                  font(color="#00BFFF")
                    | for a virtual atom smasher.
              p
                | We're excited to see how many people get involved in the challenge over two weeks, and how much computing we can get done with your help. Can we reach rates of simulated particle collisions that rival the actual rate at which the LHC stores data, and create a virtual atom smasher? That is the CERN 60 Public Computing Challenge.
              a.btn.btn-skin.btn-scroll(href="#join", target="_blank") 
                | Join Challenge
              br
              br
              a.btn.btn-skin.btn-scroll(href="#timeline", target="_blank", style="margin:5px") 
                | View Timeline
              a.btn.btn-skin.btn-scroll(href="#status", target="_blank", style="margin:5px") 
                | See Status
              a.btn.btn-skin.btn-scroll(href="#more", target="_blank", style="margin:5px") 
                | More Projects

    // Section: Join
    section#join.home-section.color-dark.bg-gray
      .container.marginbot-50
        .row
          .col-lg-8.col-lg-offset-2
            .animatedParent
              .section-heading.text-center.animated.bounceInDown
                h2.h-bold Join the Challenge
                .divider-header
      .container
        .row
          .col-lg-8.col-lg-offset-2.animatedParent
            .text-center
              p Click the following button and be part of the CERN 60 Public Computing Challenge
              p.marginbot-20
                a.start-computing-btn(href="http://test4theory.cern.ch/vlhc", target="_blank") Start Computing
              p &nbsp;
              p.text-center
                em Curious to know what happens when you click this button? Read below!

      .text-center
        .container
          .row
            .col-sm-4
              .service-box
                .service-icon
                  span
                    img(src="icons/ico-cernvm.png")
                .service-desc
                  h5 You install CernVM WebAPI
                  p
                    | The first time you join the challenge, you will be prompted to install an application called “CernVM WebAPI”. This takes care of delivering the required software for the challenge to your machine.
                  p
                    em What is this, really?
                    br
                    small
                      | This is a tiny system service (about 1MB) which provides the interface between the web browser and a Virtual Machine in your computer.
            .col-sm-4
              .service-box
                .service-icon
                  span
                    img(src="icons/ico-virtualbox.png")
                .service-desc
                  h5 CernVM WebAPI installs VirtualBox
                  p
                    | We have packed all the scientific software required to run the challenge into a compact, virtual computer. Virtualbox is a free, open-source software that runs this virtual computer.
                  p
                    em Why is this necessary?
                    br
                    small
                      | The scientific software that we use runs only on Linux. That’s why we packed our Linux distribution in a virtual machine so it can run on almost any operating system.
            .col-sm-4
              .service-box
                .service-icon
                  span
                    img(src="icons/icon-antimatter-01.png")
                .service-desc
                  h5 You are now in control
                  p
                    | After all this software is installed on your computer, just click “Start” on the interface and join the challenge! Please be patient, it might take a few minutes to see something happening...
                  p
                    em What can I control?
                    br
                    small
                      | You can define how much CPU and RAM you allocate to the project, by clicking on the gear icon next to the start button. Don’t forget to click Apply!

      p &nbsp;
      p &nbsp;
      .container.marginbot-50
        .row
          .col-lg-8.col-lg-offset-2
            .animatedParent
              .section-heading.text-center.animated.bounceInDown
                h2.h-bold Frequently Asked Questions
                .divider-header

      .container
        .row
          .col-lg-8.col-lg-offset-2.animatedParent
            .text-left
              #accordion.panel-group
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                            a(data-toggle="collapse", data-parent="#accordion", href="#accordionOne")
                              | <strong>Q:</strong> To take part in the challenge do I need to have my computer switched on all the time?
                  #accordionOne.panel-collapse.collapse
                    .panel-body
                            | <strong>A:</strong> No! In fact, to avoid wasting energy, you should only participate while you are doing other stuff on your computer. For example trying out some of the other #[a.btn-scroll(href="#more") CERN-related public participation projects]. 
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                            a(data-toggle="collapse", data-parent="#accordion", href="#accordion2")
                              | <strong>Q:</strong> How much effort is involved for me to be part of the challenge? 
                  #accordion2.panel-collapse.collapse
                    .panel-body
                            | <strong>A:</strong> None! The virtual machine in your computer takes care of everything and sends us results periodically. It restarts automatically every time you restart your computer. 

                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                            a(data-toggle="collapse", data-parent="#accordion", href="#accordion3")
                              | <strong>Q:</strong> Why is this just a fifteen-day challenge? What happens afterwards?
                  #accordion3.panel-collapse.collapse
                    .panel-body
                      | <strong>A:</strong> We're building up a database of results that will help people play a game about particle physics, to be launched next year. Fifteen days will produce enough data. If you want to be the first to know once the game is launched, #[a.btn-scroll(href="#contact") drop us a line].

                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                            a(data-toggle="collapse", data-parent="#accordion", href="#accordion4")
                              | <strong>Q:</strong> Are there any prizes involved in this challenge? 
                  #accordion4.panel-collapse.collapse
                    .panel-body
                      | <strong>A:</strong> As computers around the world return results, the Timeline on this page will gradually fill out. If a result from your computer comes at just the right time to unlock a historical fact, you'll get a special mention on the timeline. 

                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                            a(data-toggle="collapse", data-parent="#accordion", href="#accordion5")
                              | <strong>Q:</strong> Will I get any feedback about how much I have contributed personally to the project?  
                  #accordion5.panel-collapse.collapse
                    .panel-body
                      | <strong>A:</strong> Once you've got the project running, you'll be able to see your progress on a web page that comes up every time you click Start Computing on this challenge page. 

                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                            a(data-toggle="collapse", data-parent="#accordion", href="#accordion6")
                              | <strong>Q:</strong> Does the software I install respect my privacy? And how do I get rid of it, if I want to? 
                  #accordion6.panel-collapse.collapse
                    .panel-body
                      | <strong>A:</strong> The only data about you that we keep on our server is a unique identifier for your computer, which we use to attribute your contributions, and your login username, but not the password. To uninstall at any time, see #[a(href="http://google.com") these instructions].

                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                            a(data-toggle="collapse", data-parent="#accordion", href="#accordion7")
                              | <strong>Q:</strong> Can I install this challenge on several computers, and see their total performance? 
                  #accordion7.panel-collapse.collapse
                    .panel-body
                      | <strong>A:</strong> Yes, just make sure you login with the same account everywhere, so you can aggregate your results. 



    // Section: timelines
    section#timeline.home-section.color-dark.bg-white
      .container
        .row
          .col-lg-8.col-lg-offset-2
            div
              .section-heading.text-center
                h2.h-bold Timeline
                .divider-header
      div(id="timeline-embed", style="height:500px;")

    // Section: Status
    section#status.home-section.color-dark.bg-white
      .container.marginbot-10
          .row
            .col-lg-8.col-lg-offset-2
              .animatedParent
                .section-heading.text-center
                  h2.h-bold.animated.bounceInDown Challenge status
                  .divider-header
        .text-center
          .container
            .container
              .row
                .col-sm-2
                  #gauge-events.c-gauge
                .col-sm-8
                  h3#status-global.h-bold.c-status.c-success IN PROGRESS
                  .c-tweet.c-status-subtext
                    a.c-tweet-icon.c-icons.c-icon-4(href='#')
                    span#tweet-date [00/00/0000 00:00]
                    span#tweet-text
                      | This is a sample status message, that should be obtained from the twitter feed of the Test4Theory Virtual Atom Smasher challenge.
                .col-sm-2
                  #gauge-progress.c-gauge
            .row.c-service
              #service-volunteers.col-xs-6.col-sm-4.col-md-4
                div
                  .c-service-icon
                    .c-icons.c-icon-1
                  .c-service-desc
                    .marginbot-20
                      h5 Volunteers
                      .divider-header
                    .row
                      .col-sm-8.col-sm-offset-2
                        h6#status-volunteers.h-bold.c-status.c-success RAMPING UP
                    table.table.table-condensed
                      tbody
                        tr
                          th Users connected:
                          td.lbl-connected 1,312
                        tr
                          th Newcomers:
                          td.lbl-newcomers
                            | +5
                            small /h
                        tr
                          th Achievements:
                          td.lbl-achievements
                            | 10
                            small /124
                    canvas#chart-volunteers(width='280', height='128')
              #service-jobs.col-xs-6.col-sm-4.col-md-4
                div
                  .c-service-icon
                    .c-icons.c-icon-2
                  .c-service-desc
                    .marginbot-20
                      h5 Computing Tasks
                      .divider-header
                    .row
                      .col-sm-8.col-sm-offset-2
                        h6#status-jobs.h-bold.c-status.c-warning STALE
                    table.table.table-condensed
                      tbody
                        tr
                          th Pending:
                          td.lbl-pending 14,348,907
                        tr
                          th Completed:
                          td.lbl-completed 1,931,221
                        tr
                          th Failed:
                          td.lbl-failed 41
                    canvas#chart-jobs(width='280', height='128')
              #service-infr.col-xs-6.col-sm-4.col-md-4
                div
                  .c-service-icon
                    .c-icons.c-icon-3
                  .c-service-desc
                    .marginbot-20
                      h5 Infrastructure
                      .divider-header
                    .row
                      .col-sm-8.col-sm-offset-2
                        h6#status-infr.h-bold.c-status.c-warning HIGH LOAD
                    table.table.table-condensed
                      tbody
                        tr
                          th Online machines:
                          td.lbl-online
                            | 14
                            small /14
                        tr
                          th System load:
                          td.lbl-load 5.41%
                        tr
                          th Alerts:
                          td.lbl-alerts None
                    canvas#chart-infr(width='280', height='128')


    // Section: more
    section#more.home-section.color-dark.bg-gray
        .container.marginbot-50
            .row
              .col-lg-8.col-lg-offset-2
                div
                  .section-heading.text-center
                    h2.h-bold More Activities
                    .divider-header
          .text-center
            .container
              .row.animatedParent
                .col-xs-6.col-sm-4.col-md-4
                  .animated.pulse
                    .service-box
                      .service-icon
                        span
                          img(src="icons/icon-antimatter-01.png")
                      .service-desc
                        h5 Analyze Antimatter
                        .divider-header
                        p
                          | Contribute to analyzing antimatter data produced at CERN..
                        a.btn.btn-skin(href='http://crowdcrafting.org/app/antimatter/', target="_blank") Learn more

                .col-xs-6.col-sm-4.col-md-4
                  .animated.pulse
                    .service-box
                      .service-icon
                        span
                          img(src="icons/icon-clicker-01.png")
                      .service-desc
                        h5 Particle Clicker
                        .divider-header
                        p
                          | Try out Particle Clickers, a game made by students at CERN.
                        a.btn.btn-skin(href='http://particle-clicker.web.cern.ch/particle-clicker/', target="_blank") Learn more


                .col-xs-6.col-sm-4.col-md-4
                  .animated.pulse
                    .service-box
                      .service-icon
                        span
                          img(src="icons/icon-recognize-this-01.png")
                      .service-desc
                        h5 Recognize This?
                        .divider-header
                        p
                          | Test your knowledge of historical physics hardware at CERN.
                        a.btn.btn-skin(href='http://crowdcrafting.org/app/cernphotos/', target="_blank") Learn more      

              .row.animatedParent
                br
              .row.animatedParent
                .col-xs-6.col-sm-4.col-md-4
                  .animated.pulse
                    .service-box
                      .service-icon
                        span
                          img(src="icons/icon-test4theory-01.png")
                      .service-desc
                        h5 Keep on Computing
                        .divider-header
                        p
                          | Join the LHC@home project for volunteer computing at CERN.
                        a.btn.btn-skin(href='http://lhcathome.web.cern.ch/', target="_blank") Learn more

                .col-xs-6.col-sm-4.col-md-4
                  .animated.pulse
                    .service-box
                      .service-icon
                        span
                          img(src="icons/icon-subscribe-01.png")
                      .service-desc
                        h5 Stay Tuned
                        .divider-header
                        p
                          | Be the first to know when our new particle physics game launches.
                        a.btn.btn-skin.btn-scroll(href='#contact') Subscribe

                                         

    section#contact.home-section.nopadd-bot.color-dark.bg-white.text-center
      .container.marginbot-50
        .row
          .col-lg-8.col-lg-offset-2
            .animatedParent
              .section-heading.text-center
                h2.h-bold.animated.bounceInDown Stay in touch
                .divider-header
      .container
        .row.marginbot-80
          .col-md-8.col-md-offset-2
            p
              | The CERN 60 Public Computing Challenge is brought to you by the Citizen Cyberlab project and the Citizen Cyberscience Centre. We're pushing the boundaries of citizen science and informal learning on the Web. Want to learn more about us? Follow us on #[a(href="https://www.facebook.com/CyberSciCentre" target="_blank" ) Facebook] and #[a(href="https://twitter.com/CitizenCyberlab" target="_blank") Twitter]. 


      #LOGOS.container
        span
          img(src="images/partners/citizen_cyberlab.jpg")
        span
          img(src="images/partners/fp7.jpg")
        span
          img(src="images/partners/eu.jpg")
        span
          img(src="images/partners/cern.jpg")
        span
          img(src="images/partners/ccyberscience.png")

      p &nbsp;
      p &nbsp;

    //#map(style="height:300px")
    //footer
    div(class="image-footer")

    //- footer
    //-   .container
    //-     .row
    //-       .col-md-6
    //-         ul.footer-menu
    //-           li
    //-             a(href="#") Home
    //-           li
    //-             a(href="#") Press release



    // Core JavaScript Files
    script(src="js/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(type="text/javascript", src="//maps.googleapis.com/maps/api/js?key=AIzaSyCP4TbEsEUGhIO9ZCyMKnTuzJPhlzR9twE&sensor=false")
    script(src="js/jquery.sticky.js")
    script(src="js/jquery.easing.min.js")
    script(src="js/jquery.scrollTo.js")
    script(src="js/jquery.appear.js")
    script(src="js/stellar.js")
    script(src="js/nivo-lightbox.min.js")
    script(src="js/custom.js")
    script(src="js/my-custom.js")
    script(src="js/css3-animate-it.js")

    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type="text/javascript", src="js/storyjs-embed.js")
    script(type="text/javascript", src="js/timeline-min.js")

    script(type="text/javascript", src="data/accelerators.js")
    script(type="text/javascript", src="js/jquery.base64.min.js")
    script(type="text/javascript", src="js/t4tc-monitor-index.js")

    script(src='js/Chart.min.js')
    script(src='js/raphael-min.js')
    script(src='js/justgage.js')
    script(src='js/challenge-dashboard.js')

    style(type="text/css", src="css/timeline.css")

    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-5JPWNS', height='0', width='0', style='display: none; visibility: hidden;')
    script
      | (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      | new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      | j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      | '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      | })(window,document,'script','dataLayer','GTM-5JPWNS');

