extends layout

block content

	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/js/storyjs-embed.js")
	script(type="text/javascript", src="/js/timeline-min.js")

	script(type="text/javascript", src="/data/accelerators.js")
	script(type="text/javascript", src="/js/jquery.base64.min.js")
	script(type="text/javascript", src="/js/t4tc-monitor-index.js")
	style(type="text/css", src="/css/timeline.css")

	//Div for the timeline
	div.row
		div.col-lg-12
			div(id="timeline-embed", style="height:400px")

	// Div for the SVG Dashboard
	div.row
		div.col-lg-12.col-centered
			div(id="SVG_dashboard", style="width:100%")


	div(class="clearfix", style="height:50px")

	script(type="text/javascript").
		jQuery(function ($) {
			$('[data-toggle="popover"]').popover();
			$('[data-toggle="tooltip"]').tooltip();
		});








