doctype html
html
	head
		title= pageTitle
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="style/css/challenge.css")
		script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

	body
		.container
			if (user)
				div(class="text-center")
					h1 Welcome #{user.displayName}!
					p
						| You are now logged-in. You can close this window and start your virtual accelerator! Now when you complete jobs, you are collecting credits in your account!
					p
						a(href="#",class="btn btn-default",onclick="window.close()") Close Window
				script(type="text/javascript")
					| window.opener.location = "http://test4theory.cern.ch/vlhc/#user="+btoa(JSON.stringify(!{JSON.stringify(user)}));
					| window.close();
			else
				h1 Welcome anonymous
					p
						| You are not logged-in. Please close this window and click "Login to collect credits" from the challenge window.
					p
						a(href="#",class="btn btn-default",onclick="window.close()") Close Window
				script(type="text/javascript")
					| window.opener.location = "http://test4theory.cern.ch/vlhc/#user=none";
					| window.close();
