doctype html
html
	head
		title= pageTitle
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="style/css/challenge.css")
		script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

	body
		.container(id="credits")
			div(class="text-center")
				h1 Welcome #{userName}!
				p
					| You are now logged-in with VM ID #{vmid}! Here you will soon see your <em>Challenge</em> credits!
				p
					a(href="vlhc_logout",class="btn btn-default") Disconnect and stop collecting credits
